<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="tfs.vitaliy.org" value="http://tfs.vitaliy.org/tfs/DefaultCollection/_packaging/Default/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <apikeys>
    <add key="http://tfs.vitaliy.org/tfs/DefaultCollection/_packaging/Default/nuget/v3/index.json" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAgaryBpCd/kWN57JZGp0JwwAAAAACAAAAAAADZgAAwAAAABAAAADUhdfFcmKiwNWHwHzqnkJCAAAAAASAAACgAAAAEAAAAG5Lg+3nnNE7XO9Fd6ZsNqk4AAAAysTzEZZFarVyGx4HqrL8MVdp6dFxOuY5rXr+op19sXxu28paGdEhBBGhp+d/y8NzgVFe22Nl9+MUAAAA+PJxgK+DZ6gl+C2sW0hWZUjv/CA=" />
  </apikeys>
</configuration>