<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="tfs.vitaliy.org" value="http://tfs.vitaliy.org/tfs/DefaultCollection/_packaging/Default/nuget/v2/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageSourceCredentials>
    <tfs.vitaliy.org>
      <add key="Username" value="VSTS" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAgaryBpCd/kWN57JZGp0JwwAAAAACAAAAAAADZgAAwAAAABAAAACCGtLj1e3iD/n2IyrdKmz+AAAAAASAAACgAAAAEAAAAHB/I42TkRyi7rWiMUDh2284AAAAbcSIisQJ2luXC7YYUgEmzzIquHy7MyE8XueHKGG7iDDwBDAHG4V2HNLBVQ2+OoZWniJFxEX/s0wUAAAArdR/ZU+ZfnkUKtmfYvaqU7QRpCE=" />
    </tfs.vitaliy.org>
  </packageSourceCredentials>
</configuration>