<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="tfs.vitaliy.org" value="http://tfs.vitaliy.org/tfs/DefaultCollection/_packaging/Default/nuget/v2" />
  </packageSources>
  <apikeys>
    <add key="http://tfs.vitaliy.org/tfs/DefaultCollection/_packaging/Default/nuget/v2" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAgaryBpCd/kWN57JZGp0JwwAAAAACAAAAAAADZgAAwAAAABAAAADHh1ZhhODyDfzgOPpm7x7BAAAAAASAAACgAAAAEAAAAHQBwsbxfD2fQkbGFlA512Y4AAAAd6uNospw0wBvJDTLZa0PAK10ETKB86iQV6fmzxxIAzLh7YAvRtdzpe/HinPhbP8AwxbrhnWYCi0UAAAANw/Nl36cjdU/Gb8OZRpgaauo8j8=" />
  </apikeys>
</configuration>